sudo: false

env:
  global:
  - NODE_VERSION="6.0.0"
  - ANDROID_API="27"
  - ANDROID_BUILD_TOOLS="27.0.3"

notifications:
  email: false

matrix:
  include:
  - os: linux
    env: CORDOVA_VERSION="8.1.2" CORDOVA_PLATFORM="browser"
    language: node_js
    node_js: '${NODE_VERSION}'
  - env: CORDOVA_VERSION="8.1.2" CORDOVA_PLATFORM="android-7.0"
    os: linux
    node_js: '${NODE_VERSION}'
    language: android
    jdk: oraclejdk8
    android:
      components:
        - tools
        - android-$EMULATOR_API
        - platform-tools
        - tools
        # The BuildTools version used by your project
        - build-tools-${ANDROID_BUILD_TOOLS}
        # The SDK version used to compile your project
        - android-${ANDROID_API}
        # Additional components
        - extra-android-m2repository
        - extra-google-m2repository
        - sys-img-armeabi-v7a-android-${ANDROID_API}
      licenses:
        - ".+"

install:
  #- rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm
  #  && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm
  #  install ${NODE_VERSION} > /dev/null
  - nvm install ${NODE_VERSION}
  - nvm use ${NODE_VERSION}
  - node --version
  - npm install -g cordova@${CORDOVA_VERSION} > /dev/null
  - cordova --version
  - npm install

before_script:
  - git clone https://github.com/apache/cordova-paramedic
  - pushd cordova-paramedic
  - npm i > /dev/null
  - popd
  - cordova --version

script:
  - npm test
  #- /bin/bash tests/travis.sh

  - if [[ "${CORDOVA_PLATFORM}" == "android" ]]; then
      echo "y" | sdkmanager "platforms;android-${ANDROID_API}"; > /dev/null;
      echo "y" | android update sdk -a --no-ui --filter android-${ANDROID_API} > /dev/null;
      echo "y" | android update sdk -a --no-ui --filter sys-img-armeabi-v7a-android-${ANDROID_API} > /dev/null;
      echo no | android create avd --force -n test -t android-${ANDROID_API} --abi armeabi-v7a > /dev/null;
      emulator -avd test -no-skin -no-window;
      android-wait-for-emulator;
      adb shell input keyevent 82;
      adb wait-for-device get-serialno;
      cordova-paramedic --platform android --plugin . --justbuild;
  fi
