language: android
sudo: required

jdk: openjdk8

env:
  global:
    - ANDROID_API=27
    - EMULATOR_API=24
    - ANDROID_BUILD_TOOLS=27.0.3

android:
  components:
    - tools
    - android-$EMULATOR_API
    - platform-tools
    - tools
    # The BuildTools version used by your project
    - build-tools-$ANDROID_BUILD_TOOLS
    # The SDK version used to compile your project
    - android-$ANDROID_API
    # Additional components
    - extra-android-m2repository
    - extra-google-m2repository
    - sys-img-armeabi-v7a-android-$EMULATOR_API
  licenses:
    - ".+"

before_install:
  - yes | sdkmanager "platforms;android-${ANDROID_API}"

# Emulator Management: Create, Start and Wait https://docs.travis-ci.com/user/languages/android#How-to-Create-and-Start-an-Emulator
before_script:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm
    && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm
    install 9.11.2 > /dev/null
  - node --version
  - npm install -g cordova@8.1.0 > /dev/null
  - git clone https://github.com/apache/cordova-paramedic
  - pushd cordova-paramedic
  - npm i > /dev/null
  - popd
  - cordova --version
  - echo "y" | android update sdk -a --no-ui --filter android-$EMULATOR_API
  - echo "y" | android update sdk -a --no-ui --filter sys-img-armeabi-v7a-android-$EMULATOR_API
  - echo no | android create avd --force -n test -t android-$EMULATOR_API --abi armeabi-v7a
  - emulator -avd test -no-skin -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
  - adb wait-for-device get-serialno
  - npm install -g cordova cordova-paramedic

script:
  - echo "Travis branch is $TRAVIS_BRANCH"
  # test demo flavour
  # for me espresso test failed on `onView` check
  - cordova-paramedic --platform android --plugin . --variable API_KEY_FOR_ANDROID=test
