<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phonegap-GoogleMaps-Plugin</name>
    <description>
        This is an example to understand how work Phonegap-GoogleMaps-Plugin
    </description>
    <author email="wf9a5m75@gmail.com" href="https://github.com/wf9a5m75/phonegap-googlemaps-plugin/">
        Masashi Katsumata
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <feature name="GoogleMaps">
      <param name="android-package" value="plugin.google.maps.GoogleMaps" />
      <param name="ios-package" value="GoogleMaps" />
    </feature>
    <feature name="Console">
      <param name="ios-package" value="CDVLogger"/>
    </feature>
</widget>
