<?xml version='1.0' encoding='utf-8'?>
<plugin id="plugin.google.maps" version="1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>phonegap-googlemaps-plugin</name>
    <js-module name="phonegap-googlemaps-plugin" src="www/googlemaps-cdv-plugin.js">
        <clobbers target="cordova.plugins.phonegap-googlemaps-plugin" />
    </js-module>

    
    <description>
      &lt;p&gt;This is the unofficial plugin for Google Maps SDKs in Apache Cordova/PhoneGap!&lt;/p&gt;
      
      &lt;p&gt;Before install this plugin, you need to get Google Maps API key for both Android and iOS.&lt;/p&gt;
    </description>
    
    <license>Apache 2.0</license>
    
    <asset src="www/googlemaps-cdv-plugin.js" target="googlemaps-cdv-plugin.js" />
    
    <keywords>google,maps</keywords>
    
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <!-- android -->
    <platform name="android">
        <preference name="API_KEY_FOR_ANDROID" />
        
        <info>
        You need to install __Google Play Services__ from the `Android Extras` section using the Android SDK manager (run `android`).
        
        You also need to some setup for Android.
        Please visit to https://github.com/wf9a5m75/phonegap-googlemaps-plugin/wiki/Installation
        </info>
        
        <config-file target="config.xml" parent="/*">
            <feature name="GoogleMaps">
                <param name="android-package" value="plugin.google.maps.GoogleMaps" />
            </feature>
        </config-file>
        
        <!-- plugin src files -->
        <source-file src="src/android/plugin/google/maps/AsyncLicenseInfo.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/AsyncLoadImage.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/GoogleMaps.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/MyPlugin.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/MyPluginInterface.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginCircle.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginGeocoder.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginGroundOverlay.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginMap.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginMarker.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginPolygon.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginPolyline.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginTileOverlay.java" target-dir="src/plugin/google/maps" />
        <source-file src="src/android/plugin/google/maps/PluginUtil.java" target-dir="src/plugin/google/maps" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
              android:name="com.google.android.maps.v2.API_KEY"
              android:value="$API_KEY_FOR_ANDROID" />
            <meta-data
              android:name="com.google.android.gms.version"
              android:value="@integer/google_play_services_version" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
            <!-- The following two permissions are not required to use
                 Google Maps Android API v2, but are recommended. -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <!-- OpenGL ES version 2 -->
            <uses-feature android:glEsVersion="0x00020000" android:required="true" />
            <!-- Google Play Services SDK -->
            <meta-data android:name="com.google.android.gms.version"
                       android:value="@integer/google_play_services_version" />
        </config-file>
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <preference name="API_KEY_FOR_IOS" />
      
        <config-file target="config.xml" parent="/*">
            <feature name="GoogleMaps">
                <param name="ios-package" value="GoogleMaps" />
            </feature>
        </config-file>

        <header-file src="src/ios/GoogleMaps/Circle.h" />
        <source-file src="src/ios/GoogleMaps/Circle.m" />
        <header-file src="src/ios/GoogleMaps/Geocoder.h" />
        <source-file src="src/ios/GoogleMaps/Geocoder.m" />
        <header-file src="src/ios/GoogleMaps/GoogleMaps.h" />
        <source-file src="src/ios/GoogleMaps/GoogleMaps.m" />
        <header-file src="src/ios/GoogleMaps/GoogleMapsViewController.h" />
        <source-file src="src/ios/GoogleMaps/GoogleMapsViewController.m" />
        <header-file src="src/ios/GoogleMaps/GroundOverlay.h" />
        <source-file src="src/ios/GoogleMaps/GroundOverlay.m" />
        <header-file src="src/ios/GoogleMaps/Map.h" />
        <source-file src="src/ios/GoogleMaps/Map.m" />
        <header-file src="src/ios/GoogleMaps/Marker.h" />
        <source-file src="src/ios/GoogleMaps/Marker.m" />
        <header-file src="src/ios/GoogleMaps/MyPlgunProtocol.h" />
        <header-file src="src/ios/GoogleMaps/PluginUtil.h" />
        <source-file src="src/ios/GoogleMaps/PluginUtil.m" />
        <header-file src="src/ios/GoogleMaps/Polygon.h" />
        <source-file src="src/ios/GoogleMaps/Polygon.m" />
        <header-file src="src/ios/GoogleMaps/Polyline.h" />
        <source-file src="src/ios/GoogleMaps/Polyline.m" />
        <header-file src="src/ios/GoogleMaps/TileOverlay.h" />
        <source-file src="src/ios/GoogleMaps/TileOverlay.m" />
        <header-file src="src/ios/GoogleMaps/NSData-Base64/NSData+Base64.h" />
        <header-file src="src/ios/GoogleMaps/NSData-Base64/NSData+Base64.podspec" />
        <source-file src="src/ios/GoogleMaps/NSData-Base64/NSData+Base64.m" />

        <config-file target="*-Info.plist" parent="Google Maps API Key">
            <string>$API_KEY_FOR_IOS</string>
        </config-file>
        
        <!-- system frameworks -->
        <framework src="AVFoundation.framework" />
        <framework src="CoreData.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreText.framework" />
        <framework src="GLKit.framework" />
        <framework src="ImageIO.framework" />
        <framework src="libc++.dylib" />
        <framework src="libicucore.dylib" />
        <framework src="libz.dylib" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="GoogleMaps-iOS-1.7.2/GoogleMaps.framework" custom="true"/>
        
        <resource-file src="GoogleMaps-iOS-1.7.2/GoogleMaps.framework/Resources/GoogleMaps.bundle"/>
        
    </platform>
</plugin>
