code {
  border: 1px dotted gray;
  background-color: #E0E0E0;
  padding: 1px;
  white-space: pre-wrap;
  display: inline-block;
  word-break: keep-all;
  width: 100%;
}

h1 {
  font-size: 23px;
  border-bottom: 1px dotted gray;
}

span.highlight {
  white-space: pre;
  color: #5F9EA0;
}
