<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.googlemaps.ios" version="1.9.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Google Map iOS SDK for Cordova</name>
    
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <!-- ios -->
    <platform name="ios">
    
        <info>
        Google Maps SDK for iOS : v1.9.0
        </info>
      
        <!-- system frameworks -->
        <framework src="AVFoundation.framework" />
        <framework src="CoreData.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreText.framework" />
        <framework src="GLKit.framework" />
        <framework src="ImageIO.framework" />
        <framework src="libc++.dylib" />
        <framework src="libicucore.dylib" />
        <framework src="libz.dylib" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="GoogleMaps.framework" custom="true"/>
        
        <resource-file src="GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle"/>
        
    </platform>
</plugin>
