<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.google.playservices"
    version="23.0.0">
  <engines>
    <engine name="cordova" version=">=3.5.0" />
  </engines>

  <name>Google Play Services for Android</name>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </config-file>

    <framework src="libs/google-play-services_lib" custom="true" />
  </platform>
</plugin>
