<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.yoik.cordova.plugins.screenorientation"
    version="1.3.2">

    <name>Screen Orientation</name>
    <description>Adds Screen Orientation API lock and unlock functions to the global screen object in android, iOS and BB10.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/screenorientation.js" name="screenorientation">
        <clobbers target="cordova.plugins.screenorientation" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="YoikScreenOrientation">
                <param name="ios-package" value="YoikScreenOrientation" />
            </feature>
        </config-file>
        <js-module src="www/screenorientation.ios.js" name="screenorientation.ios">
            <merges target="cordova.plugins.screenorientation" />
        </js-module>
        <header-file src="src/ios/YoikScreenOrientation.h" />
        <source-file src="src/ios/YoikScreenOrientation.m" />
    </platform>

    <platform name="android">
        <source-file src="src/android/net/yoik/cordova/plugins/screenorientation/YoikScreenOrientation.java" target-dir="src/net/yoik/cordova/plugins/screenorientation/" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YoikScreenOrientation">
                <param name="android-package" value="net.yoik.cordova.plugins.screenorientation.YoikScreenOrientation" />
            </feature>
        </config-file>
        <js-module src="www/screenorientation.android.js" name="screenorientation.android">
            <merges target="cordova.plugins.screenorientation" />
        </js-module>
    </platform>

    <platform name="blackberry10">
        <dependency id="com.blackberry.app" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="net.yoik.cordova.plugins.screenorientation" value="net.yoik.cordova.plugins.screenorientation" />
        </config-file>
        <js-module src="www/screenorientation.bb10.js" name="screenorientation.bb10">
            <merges target="cordova.plugins.screenorientation" />
        </js-module>
    </platform>

</plugin>
