html, body, #container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#map_canvas {
  width: 100%;
  height: 90%;
  min-height: 300px;
  position: relative;
}
code {
  border: 1px dotted gray;
  background-color: #E0E0E0;
  padding: 7px;
  white-space: pre;
  display: inline-block;
  word-break: keep-all;
  width: 100%;
  overflow: scroll;
}

span.highlight {
  white-space: pre;
  color: #5F9EA0;
}
