html, body, #container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#map_canvas {
  width: 95%;
  min-height: 300px;
  position: relative;
}
code {
  border: 1px dotted gray;
  background-color: #E0E0E0;
  padding: 7px;
  white-space: pre;
  display: inline-block;
  word-break: keep-all;
  width: 100%;
  overflow: scroll;
}

span.highlight {
  white-space: pre;
  color: #5F9EA0;
}

@media screen and (min-height: 500px and max-height: 800px) {
  #map_canvas {
    min-height: 400px;
  }
}

@media screen and (min-height: 800px and max-height: 1300px) {
  #map_canvas {
    min-height: 600px;
  }
}

@media screen and (min-height: 1300px) {
  #map_canvas {
    min-height: 800px;
  }
}
